.ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ant-upload-wrapper{
    display: flex;
}

.ant-upload-list{
    margin: 1% 5%;
}

#AssignementDescription{
    background-color: rgba(0, 0, 0, 0.02);
    width: 60%;
    padding: 1% 2%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 10px;
}

.ant-ribbon-wrapper{
    width: fit-content;
}

.ant-card .ant-card-body {
    padding: 12px;
}