body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#LoginPage1 {
  min-height: 100vh;
  padding: 2%;
  background: #ffffff url(./assets/LoginBG.jpg) fixed center;
}

/* The following is not used for now since it applies center align even when a required message is show for the mandatory filed */
/* 
.ant-form-item-row {
  display: flex;
  align-items: center;
} */


/* 
Background Shorthand:

Normal Code:
---------------
body {
  background-color: #ffffff;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}

Shorthand:
---------------
body {
  background: #ffffff url("img_tree.png") no-repeat right top;
}

Note: When using the shorthand property the order of the property values is:
1. background-color
2. background-image
3. background-repeat
4. background-attachment
5. background-position

*/